#details-wrapper {
    display: grid;
    grid-template-columns: 60% 30%;
    /* grid-template-columns: repeat(20, 70px);
    grid-template-rows: repeat(12, 51px); */
    padding: 48px 36px;
    margin-bottom: 65px;
}

.author {
    position: relative;
}

.image-content {
    position: relative;
    width: 403px;
}

.large-img {
    width: 403px;
    /* height: 460px; */
    /* grid-column: 1 / 4;
    grid-row: 2 / 11; */
}

.artist-name {
    width: 239px;
    padding: 0px 0px 57px 48px;
    /* height: 250px; */
    min-height: 174px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #f2f2f2;
    position: absolute;
    top: -31px;
    right: -182px;
    /* grid-column: 6 / 9;
    grid-row: 1 / 5; */
}


.artist-name h1 {
    margin: 0px;
    color: #000;
    font-size: 2.7rem;
    font-style: normal;
    font-weight: 700;
    line-height: 64px;
}

/* .fifthImage .artist-name h1 {
    font-size: 2.2rem;
} */

.arist-img {
    /* grid-column: 7 / 10;
    grid-row: 10 / 12; */
    position: absolute;
    bottom: -60px;
    right: -149px;
}

.artist-name p {
    margin: 0px;
    color: #7D7D7D;
    font-family: var(--font);
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    white-space: nowrap;
}



.description {
    /* grid-column: 12 / 17;
    grid-row: 3 / 10; */
    position: relative;
    display: flex;
    flex-direction: column;
    row-gap: 25px;
}

.description p {
    color: #7D7D7D;
    font-size: 19px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    padding: 65px 0 0 0;
}

.description strong {
    font-size: 10rem;
    position: absolute;
    z-index: -1;
    top: -39px;
    right: 26px;
    opacity: 5%;
    letter-spacing: 5px;
}

.description a {
    font-size: 14px;
    /* font-style: normal; */
    font-weight: 900;
    /* line-height: normal; */
    letter-spacing: 1.929px;
    text-decoration-line: underline;
    text-transform: uppercase;
    color: #7D7D7D;
}

footer {
    position: relative;
}

.footer-line {
    width: 100%;
    height: 2px;
    position: absolute;
    top: -11px;
    left: 0;
    right: 0;
    /* bottom: 0px; */
    /* margin-bottom: 16px; */
    appearance: none;
    -webkit-appearance: none;
    color: black;
    background-color: #E5E5E5;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-content h1 {
    color: #000;
    margin: 0px;
    font-family: var(--font);
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.footer-content p {
    color: rgba(0, 0, 0, 0.7528);
    margin: 0px;
    font-family: var(--font);
    font-size: 0.8125rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.slideshow-btns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40.35348px;
}

.slideshow-btns button {
    background-color: transparent;
    padding: 0px;
    border: none;
    cursor: url('/assets/left-click.png'), pointer;
}


.image-content button {
    position: absolute;
    /* z-index: var(--even-closer); */
    left: 16px;
    bottom: 16px;
    width: 152px;
    height: 40px;
    /* padding: 0px; */
    border: none;
    background-color: rgba(0, 0, 0, 0.7546);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;
    color: #FFF;
    /* text-align: right; */
    /* font-family: var(--font); */
    font-size: 0.625rem;
    /* font-style: normal; */
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2.143px;
    text-transform: uppercase;
    cursor: pointer;
}

/* Small screen */
@media (max-width: 499px) {
    #details-wrapper {
        display: flex;
        flex-direction: column;
        row-gap: 168px;
        justify-content: center;
        align-items: center;

    }

    .image-content {
        width: 302px;
    }

    .image-content button {
        top: 16px;
        left: 16px;
        bottom: initial;
    }

    img.small-img,
    .large-img {

        width: 302px;
    }

    .artist-name {

        width: 85%;
        min-height: 80px;
        padding: 24px 24px 0px 24px;
        justify-content: start;
        gap: 8px;
        top: initial;
        right: initial;
        bottom: -28px;
        left: 0px;
    }

    .arist-img {
        width: 64px;
        height: 64px;
        bottom: -118px;
        right: initial;
        left: 0px;
    }

    .artist-name h1 {
        font-size: 14px;
        text-wrap: nowrap;
    }

    .description p {
        margin: 0px;
        color: #7D7D7D;

        font-size: 0.875rem;
        font-style: normal;
        font-weight: 700;
        line-height: 28px;


    }

    .description strong {
        font-size: 6.8rem;
        /* z-index: 2; */
        top: -6px;
        right: -21px;
        opacity: 5%;
        letter-spacing: 5px;
    }

}

/* Mediam Screens */
@media (min-width: 500px) and (max-width: 1115px) {
    #details-wrapper {
        display: flex;
        flex-direction: column;
        row-gap: 168px;
        justify-content: center;
        /* grid-template-columns: repeat(1, 100%); */
        /* grid-template-rows: repeat(13, 51px); */
    }

    .image-content {

        width: 100%;
    }

    .image-content button {
        top: 16px;
        left: 16px;
        bottom: initial;
    }

    img.small-img,
    .large-img {
        width: 100%;
        /* width: 484px; */
    }



    .description {
        /* grid-column: 1 / 2;
        grid-row: 15 / 22; */
    }

    .artist-name {

        width: 85%;
        min-height: 80px;
        padding: 24px 24px 0px 24px;
        justify-content: start;
        gap: 8px;
        top: initial;
        right: initial;
        bottom: -28px;
        left: 0px;
    }

    .arist-img {
        width: 64px;
        height: 64px;
        bottom: -118px;
        right: initial;
        left: 0px;
    }

    .artist-name h1 {

        font-size: 2rem;

    }

    .description p {
        margin: 0px;
        color: #7D7D7D;

        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 28px;


    }

    .description strong {
        font-size: 6.8rem;
        /* z-index: 2; */
        top: -6px;
        right: -21px;
        opacity: 5%;
        letter-spacing: 5px;
    }
}